@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
             font-family: "Inter", sans-serif;
        }

        
        body {
            font-family: "Inter", sans-serif;
            background: linear-gradient(to bottom right, #181a1e 20%, #181a1e 50%);
            overflow-x: hidden;
        }

        .container {
            padding: 100px 0;
        }

        .header.container {
            overflow-y:clip;
            padding:0;
        }

        .logo {
            height:100%;
            display:flex;
            flex-direction:     row;
            justify-content:    center;
            align-items:    center;
            color:#fff;
            gap:15px;
            font-size:25px;
            font-weight:600;
        }

        .logo .image {
            width:60px;
            height:60px;
            display:flex;
            background: #ffffff17;
           border-radius: 25px;
        }

        .navigation {
            display:flex;
            justify-content:  space-between ;
            align-items:center;
            border: 1px solid #ffffff1a;
            border-radius: 25px;
            padding: 15px;
            margin:35px auto;
            }

         .navigation .menu {
            gap:10px;
            display:flex;

         }       

        .navigation .menu a {
            opacity:.7;
            text-decoration:none;
            font-size:18px;
            font-weight:200;
            border-radius:20px;
            padding:10px 20px;
            display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
        }

       .navigation .menu a.border-white {
            gap:10px;
             opacity:1 ;
            border:1px solid #cccccc80 !important;
           
           
        }

        .hero {
            padding: 30px 15px;
             position:relative;
            
            padding-bottom: 0;

        }

        a.white-bg {
            background: #fff;
          color: #181a1e;
          opacity: .9 !important;
          font-weight: 400 !important;
        }
        .hero h1, .hero h2, .hero h3 {
            text-align:center;
            max-width:1000px;
            margin:20px auto;
        }

        .stats h1 {
            font-size:60px;
            padding-left: 10px;
           
        }
        .hero h1 {
            font-size:80px;
            font-weight:500;
        }

        .hero h3 {
            font-size:16px;
            font-weight:300;
           text-transform: uppercase;
           background-image: linear-gradient(to top, #181a1e 70%, #94c3207a);
          width: fit-content;
          border-radius: 20px;
          padding: 10px 15px;
          box-shadow: 0px -10px 10px 3px rgba(169, 246, 0, 0.09), inset 0px 3px 0px 0 rgba(119, 145, 61, 0.13);
          display:flex;
          align-items:center;
          justify-content:  center;
          gap:10px;
                }

        .hero h2 {
             font-size:28px;
            font-weight:200;
            
        }

        .hero img {
            width: 100%;
          max-width: 1000px;
          margin: 0 auto;
          display: block;
         
        }

        .hero:after {
          display: block;
          content: '';
          width: 500px;
          height: 400px;
          box-shadow: 0 -100px 895px 370px rgba(124, 167, 25, 0.49);
          border-radius: 50%;
          position: absolute;
          bottom: -40%;
          left: calc(50% - 250px);
          z-index: -1;
        }

        .call_to_action {
            display:flex;
            align-items:center;
            flex-direction:row;
            justify-content:    center;
            gap:25px;
            margin:50px;
            margin-bottom:100px;
        }

        .call_to_action a {
            padding:15px 25px;
            text-decoration:    none;
            border-radius:25px;
            font-size:20px;
            font-weight:500 !important;
            color:#181a1e !important;
        }

        .green-bg {
            background:#a4df12;
            color:#181a1e;
        }

        .stats_list {
            display:flex;
            flex-direction: row;
            align-items:center;
            justify-content: center;
             border: 1px solid #ffffff1a;
         border-radius: 25px;
        }

        .inner_stats {
            color: #fff;
          padding: 50px;
          border-right: 1px solid #ffffff1a;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 25px;
          width: 100%;
          align-self:stretch ;
          box-shadow:inset -2px 0 2px 0px rgba(0, 0, 0, 0.26);
         
        }
        .inner_head {
            display: flex;
  flex-direction: row;
  justify-content: space-between;
        align-items:    center;
         margin-bottom: 50px;
        }


        .inner_head .buttons {
            display:flex;
            flex-direction:     row;
            gap:10px;
        }
        .inner_head button {
            background: #2a2c2f;
          border: none;
          font-size: 25px;
          border-radius: 20px;
          padding: 15px;
          color: #fff;
          display: flex;
          border: 1px solid #ffffff1a;
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26)
        }

        .inner_stats:nth-last-child(1) {
            border:none;
        }

        .inner_stats:nth-child(2) {
            background:linear-gradient(to left bottom, #181a1e 50% , #85b21e2b);
        }

         .inner_stats i {
            font-size: 25px;
            margin-top: 25px;
        }

        .inner_stats i.circle {
           padding: 25px;
              background: #cccccc1a;
              border-radius: 50%;
              border: 1px solid #ffffff1a;
              font-size: 35px;
              font-weight: 300;
              box-shadow:0 0 5px 1px rgba(0, 0, 0, 0.26);
              margin:0;
        }

       

        .inner_stats .content p {
            font-size: 18px;
              font-weight: 300;
              line-height: 1;
              opacity: .7;
        }

        .inner_stats img {
            width:80px;
            margin-top:auto;
        }